{{!-- Action Type --}}
<div class="form-group select">
    <label>Additional Action</label>

    {{#if weapon}}
    <select name="data.actionType">
        <option value="">None</option>
        {{#select data.actionType}}
        {{#each config.weaponActionTypes as |name type|}}
        <option value="{{type}}">{{name}}</option>
        {{/each}}
        {{/select}}
    </select>
    {{else if misc}}
    <select name="data.actionType">
        <option value="">None</option>
        {{#select data.actionType}}
        {{#each config.miscActionTypes as |name type|}}
        <option value="{{type}}">{{name}}</option>
        {{/each}}
        {{/select}}
    </select>
    {{else}}
    <select name="data.actionType">
        <option value="">None</option>
        {{#select data.actionType}}
        {{#each config.spellActionTypes as |name type|}}
        <option value="{{type}}">{{name}}</option>
        {{/each}}
        {{/select}}
    </select>
    {{/if}}
</div>

{{!-- Ability Modifier --}}
<div class="form-group select">
    <label>Damage Modifier</label>
    <select name="data.ability">
        <option value="">None</option>
        {{#select data.ability}}
        {{#each config.abilities as |ability a|}}
        <option value="{{a}}">{{ability}}</option>
        {{/each}}
        {{/select}}
    </select>
</div>

{{#if weapon}}


{{else if misc}}
<div class="form-group select">

    <label>Secondary Attack</label>

    <select name="data.secondaryAttackAction">
        <option value="">None</option>
        {{#select data.secondaryAttackAction}}
        {{#each config.secondaryActionTypes as |name type|}}
        <option value="{{type}}">{{name}}</option>
        {{/each}}
        {{/select}}
    </select>
</div>


{{else}}
<div class="form-group select">

    <select name="data.secondaryAttackAction">
        <option value="">None</option>
        {{#select data.secondaryAttackAction}}
        {{#each config.secondaryActionTypes as |name type|}}
        <option value="{{type}}">{{name}}</option>
        {{/each}}
        {{/select}}
    </select>

</div>

{{/if}}

{{!-- Ability Modifier --}}
<div class="form-group select">
    <label>Secondary Damage Modifier</label>
    <select name="data.secondaryAbility">
        <option value="">None</option>
        {{#select data.secondaryAbility}}
        {{#each config.abilities as |ability a|}}
        <option value="{{a}}">{{ability}}</option>
        {{/each}}
        {{/select}}
    </select>
</div>


<div class="form-group">
    <label>Formula</label>
    <div class="form-group">
        <div class="form-fields">
            <input type="text" name="data.damage" value="{{data.damage}}" placeholder="E.g. 1d8+2 or 10, or [dice]" />
        </div>
        <div class="form-fields">
            <select name="data.damageType">
                <option value="">None</option>
                {{#select data.damageType}}
                {{#each config.damageTypes as |name type|}}
                <option value="{{type}}">{{name}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div>
    </div>
</div>
{{!-- Other Formula --}}
<div class="form-group">
    <label>Secondary Formula</label>
    <div class="form-group">

        <div class="form-fields">
            <input type="text" name="data.formula" value="{{data.formula}}" placeholder="E.g. 1d8+2 or 10, or [dice]" />
        </div>
        <div class="form-fields">
            <select name="data.formulaDamageType">
                <option value="">None</option>
                {{#select data.formulaDamageType}}
                {{#each config.damageTypes as |name type|}}
                <option value="{{type}}">{{name}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div>
    </div>
</div>